.floated-label-wrapper {
    position: relative;
}

.floated-label-wrapper label {
    background: #fefefe;
    color: #1779ba;
    font-size: 0.75rem;
    font-weight: 600;
    left: 0.75rem;
    opacity: 0;
    padding: 0 0.25rem;
    position: absolute;
    top: 2rem;
    transition: all 0.15s ease-in;
    z-index: -1;
}

.floated-label-wrapper label input[type=text],
.floated-label-wrapper label input[type=email],
.floated-label-wrapper label input[type=password] {
    border-radius: 4px;
    font-size: 1.75em;
    padding: 0.5em;
}

.floated-label-wrapper label.show {
    opacity: 1;
    top: -0.85rem;
    z-index: 1;
    transition: all 0.15s ease-in;
}

/*search*/
.searchbar {
    margin: 1rem;
}

.search-field {
    width: 0;
    height: 40px;
    margin-left: 1rem;
    padding: 0;
    border-radius: 50px;
    border: none;
    transition: all 0.5s ease;
}

.expand-search {
    width: 80%;
    max-width: calc(80% - 3rem);
    border: 1px solid #c9c9c9;
    padding: .5rem;
}

svg {
    width: 20px;
    height: 20px;
}

.button {
    border-radius: 50px;
}
 /*modal login*/
#modal_wrapper.overlay::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: #000;
    background: rgba(0,0,0,0.7);
}

#modal_window {
    display: none;
    z-index: 200;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 360px;
    overflow: auto;
    padding: 10px 20px;
    background: #fff;
    border: 5px solid #999;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#modal_wrapper.overlay #modal_window {
    display: block;
}

/*registration*/
.floated-label-wrapper {
    position: relative;
}

.floated-label-wrapper label {
    background: #fefefe;
    color: #1779ba;
    font-size: 0.75rem;
    font-weight: 600;
    left: 0.75rem;
    opacity: 0;
    padding: 0 0.25rem;
    position: absolute;
    top: 2rem;
    transition: all 0.15s ease-in;
    z-index: -1;
}

.floated-label-wrapper label input[type=text],
.floated-label-wrapper label input[type=email],
.floated-label-wrapper label input[type=password] {
    border-radius: 4px;
    font-size: 1.75em;
    padding: 0.5em;
}

.floated-label-wrapper label.show {
    opacity: 1;
    top: -0.85rem;
    z-index: 1;
    transition: all 0.15s ease-in;
}
.img-logo{

    height: 4em;
    width: 5em;
}
